<h1>update requirement for '<%= @badge.name-%>'</h1>

<%= error_messages_for :requirement %>

<% form_for(:requirement, :url => admin_badge_requirement_path(@badge, @requirement), :html => {:method => :put } ) do |f| %>

  <%= render :partial => 'fields', :locals => {:f => f} -%>

  <p>
    <%= f.submit "update code requirement" %>
  </p>

<% end %>

<%= link_to 'back to badge requirements list', admin_badge_requirements_path(@badge) %>
