<h1>add new requirement for '<%= @badge.name-%>'</h1>

<%= error_messages_for :requirement %>

<% form_for(:requirement, :url => admin_badge_requirement_path(@badge, @requirement), :method => :post  ) do |f| %>

  <%= render :partial => 'fields', :locals => {:f => f} -%>

  <p>
    <%= f.submit "create a new requirement" %>
  </p>
<% end %>

<%= link_to 'back to badge requirements list', admin_badge_requirements_path(@badge) %>
