<% @sub_layout = 'standard' %>

<% content_for :top_left do %>
  <h1><%= @my_badge.badge.name %></h1>
	<div id="badge">
    <%= render :partial => "shared/badge_preview", :locals => {:badge => @my_badge } -%>
	</div>
	<span class="clear"></span>
<% end %>

<% if @my_badge.available?(current_account)  %>
	<% content_for :top_left do %>
	  <h2>Get This Badge</h2>
		<p>You have met all the requirements for this badge!</p>
	  	<% form_for :my_badge, :url => my_badge_create_path , :method => :post, :html => {:id => 'tocustomize-form' }  do |f| %>
	  		<%= f.submit 'save this to my account' -%>
   		<% end %>
   <% end %>
<% else  %>
		
	<% content_for :top_right do %>
	  <h2>badge requirements</h2>	
		<p>
			You have not met all the requirements for this badge! You need to complete one of the following requirements to get this badge: <br />
     	<%= render :partial => 'requirements', :locals => {:my_badge => @my_badge } -%>
    </p>
    <p>Please complete below.</p>
 	<% end %>
<% end %> <!-- end else -->
<span class="clear"></span>

<% content_for :tertiary do %>
  


<% if @my_badge.available?(current_account)  %>
   available
<% else %>
<% grey_fade(:id => "complete-requirements") do %>
	<div id="access-code" class="left">
		<h2>Enter an Access Code</h2>
		<% form_for :my_badge, :url => my_badge_create_path , :method => :post  do |f| %>
		<dl>
			<dt><label for "access_code">Enter an access code:</label></dt>
				<dd><%= f.text_field :access_code, :size => 6 %></dd>
		</dl>
    <%= submit_tag "Enter Code" %>
		<% end %>
		<span class="or">OR</span>
  	<span class="clear"></span>
	</div>

	<div id="enter-donation" class="right">
		<h2>Make a Donation</h2>

<script language="javascript">
 var min = "<%=@my_badge.minimum_donation-%>"
</script>

		<% form_for :order, :url => organization_segment_order_path(@my_badge.badge.organization, @my_badge.badge.segment , @order), :html => {:method => :post, :onsubmit => 'javascript:return ValidateDonationForm(this, min)' }  do |f| %>
		<dl>
			<dt><label for="donation">Enter donation amount:</label></dt>
				<dd><%= f.text_field :amount, :size => 6  -%></dd>
		</dl>
    <%= f.submit  'Donate'  -%>
  	<% end %>
	</div>
<% end  %>
<% end %>
<span class="clear"></span>
<% end  %>
