<% content_box( "your  badge", :class => "shadow", :id => "preview" ) do -%>
	
  <div id="badge">
    <%= render :partial => "shared/current_view", :locals => {:my_badge => @my_badge } -%>
  </div>
  <%= render :partial => 'navigation' , :locals => {:my_badge => @my_badge} -%>
<% end %>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<% content_box("badge details", :class => 'basicborder', :id => 'instructions') do %>
	<ul>
    <li>Organization: <%= @my_badge.badge.organization.name -%></li>
    <li>Segment: <%= @my_badge.badge.segment.name -%></li>
	</ul>
<% end %>

<% grey_fade(:id => "badge-extras" ) do -%>
	<div id="functions" class="left">
		<h2>badge functions</h2>
	</div>
	<div id="sponsors" class="right">
		<h2>detailed stats</h2>
	</div>
<% end %>