<h1>MyBadge Show (3.1.1)</h1>

<% content_box( "your  badge", :class => "shadow", :id => "preview" ) do -%>
  <div id="badge">
    <%= render :partial => "shared/current_view", :locals => {:my_badge => @my_badge } -%>
  </div>
  <%= render :partial => 'navigation' , :locals => {:my_badge => @my_badge} -%>
<% end %>

<% content_box("badge details", :class => 'basicborder', :id => 'instructions') do %>
	<ul>
    <li>Organization: <%= @my_badge.badge.organization.name -%></li>
    <li>Segment: <%= @my_badge.badge.segment.name -%></li>
	</ul>
<% end %>

<% grey_fade(:id => "badge-extras" ) do -%>
	<div id="functions" class="left">
		<h1><%= image_tag("/text/basicborder_header/badge functions.png", :alt => "Badge Functions") %></h1>
	</div>
	<div id="sponsors" class="right">
		<h1><%= image_tag("/text/basicborder_header/detailed stats.png", :alt => "Detailed Stats") %></h1>
	</div>
<% end %>