  <li>
    <label for="badge_name" >Name:</label>
    <%= f.text_field :name -%>
  </li>
  <li>
    <label for="badge_structure_id" >Structure ID:</label>
    <%= f.text_field :structure_id-%>
  </li>
  <li>
    <label for="badge_description" >Description:</label>
    <%= f.text_area :description -%>
  </li>

  <li>
    <label for="badge_segment" >Segment:</label>
    <%= f.select( "segment_id",  @organization.segments.collect {|s| [ s.name, s.id ] }, 
		{ :include_blank => false }) -%>
	</li>

  <li>
    <label for="badge_tag_list" >Causes List:</label>
    <%= f.text_field :tag_list -%>
  </li>

  <li>
    <label for="badge_featured" >Featured?</label>
    <%= select 'badge' , 'featured', featured_options -%>
  </li>
