<h1>badges for '<%= @organization.name -%>'</h1>

<table>
  <tr>
    <th>Badge Name</th>
    <th>Segment</th>
    <th>Requirements</th>
    <th>Admin</th>
  </tr>

<% for badge in @badges %>
  <tr class="<%= cycle('odd', 'even' )-%>">
    <td><%= link_to badge.name, edit_admin_organization_badge_path(@organization, badge) %></td>
    <td><%= link_to badge.segment.name, admin_organization_segment_path(@organization, badge.segment) %></td>
    <td><%= link_to 'requirements' ,  admin_badge_requirements_path(badge) %></td>
    <td><%= link_to 'destroy', admin_organization_badge_path(@organization, badge ), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to "create a new badge for '#{@organization.name}'", new_admin_organization_badge_path(@organization) %>
</p>

<p>
<%= link_to "back to organizations", admin_organizations_path %>
</p>
