<h1>New Badge</h1>

<%= error_messages_for :badge %>

<% form_for(@badge, :url => admin_organization_badge_path(@organization, @badge), :method => :post) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  </li>
    <%= f.submit "Update" %>
  </li>
 <ul>
<% end %>

<%= link_to 'Show', admin_organization_badge_path(@organization, @badge)  %> |
<%= link_to 'Back', admin_organization_badges_path(@organization) %>
