<% content_box("welcome #{@account.nickname}", :class => "shadow", :id => "welcome" ) do -%>
    <%= image_tag(current_account.avatar.public_filename(:thumb)) -%> <br />
 <%= link_to "upload an avatar", new_user_avatar_path , :class => 'small-link' %>

  <%= link_to 'Edit', edit_user_account_path %>
  <p>
 		<%= link_to  'my organizations ' , user_organizations_path -%> 
	</p>
	<p>
 		<%= link_to  'my donations' , user_orders_path -%> 
	</p>
<% end %>

<% content_box("ranking", :class => "basicborder", :id => "ranking" ) do -%>
  <p>Ranking Stats</p>
<% end %>


<% content_box("merits", :class => "basicborder", :id => "merits" ) do -%>
  <p>merit bar</p>
<% end %>

<% grey_fade(:id => "badges" ) do -%>
	<h2><%= image_tag("/text/basicborder_header/my badges.png", :alt => "My Badges") %> <%= link_to  'view all' , user_my_badges_path -%></h2>
	<% if @my_badges.empty? %>
		<p>You haven't created any badges yet. Please <%= link_to 'create a badge', badges_path %> first.</p>
		<% 6.times do %>
			<%= image_tag("/images/placeholders/imageselections.jpg") %>
		<% end %>
	<% else %>
		<% @my_badges.each do |my_badge| %>
			<%= badge_link(my_badge.badge, user_my_badge_path(my_badge)) -%>
		<% end %>	
	<% end %>
<% end %>

