<% @sub_layout = 'standard' %>

<% content_for :top_left do -%>
  
  <h1>welcome <%= @account.nickname %></h1>
	
  <%= image_tag(current_account.get_avatar(:full), :class => "avatar") -%>
  
  <ul id="user-navigation">
    <li>
      <%= link_to 'edit', edit_user_account_path %>
    </li>
    <li>
      <%= link_to "upload an avatar", new_user_avatar_path %>
    </li>
    
  </ul>

  <span class="clear"></span>

<% end %>
<!-- Commented out until requirements are defined >
<% content_box(:box_class => "basicborder", :external_id => "ranking" ) do -%>
  <h2>ranking</h2>
  <p>Ranking Stats</p>
<% end %>
-->
<% content_for :top_right do -%>
  <h2>my donations</h2>
  <%= render :partial => 'my_donations' -%>
<% end %>

<% if false %>
<% content_box(:box_class => "basicborder", :external_id => "merits" ) do -%>
  <h2>merits</h2>
  <p>merit bar</p>
<% end %>

<%= render :partial => '/shared/filter_badges_form', :locals => {:in_my_badges => true } %>
<% end %>

<% content_for :tertiary do %>
  <% grey_fade(:id => "badges" ) do -%>
  	<h2>my badges<span><%#= link_to  'view all' , user_my_badges_path -%></span></h2>
  	<% if @my_badges.empty? %>
  		<p>You haven't created any badges yet. Please <%= link_to 'get a badge', badges_path %> first.</p>
  	<% else %>
      <%= badge_list(@my_badges, 'small') %>
  	<% end %>
  <% end %>
<% end %>
