<% content_box( @my_badge.badge.name, :class => "shadow", :id => "preview" ) do -%>
	<%= render :partial => 'shared/badge_preview', :locals => {:badge => @my_badge} %>
<% end %>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<% content_box("#{@my_badge.account.nickname} standsfor:", :class => 'basicborder', :id => 'instructions') do %>
	<ul>
    <li>Organization: <%= @my_badge.badge.organization.name -%></li>
    <li>Segment: <%= @my_badge.badge.segment.name -%></li>
	</ul>
<% end %>

<div id="action-call" class="box-foot">
  <%= link_to(image_tag('polish/get_a_badge.png', :alt => 'Get A Badge'), badges_path) %>
</div>

<% grey_fade(:id => "badge-extras" ) do -%>
	<div id="stats" class="left">
		<h2>badge stats</h2>
		<%= render :partial => 'statistics' , :locals => {:stats => @adi.stats} -%>
	</div>
	<div id="sponsors" class="right">
		<h2>sponsors</h2>
		<p>
		  Implement sponsorship details here.
		</p>
	</div>
<% end %>


