<% content_box( @my_badge.badge.name, :class => "shadow", :id => "preview" ) do -%>
	<%= render :partial => 'shared/badge_preview', :locals => {:badge => @my_badge} %>
<% end %>

<%= get_flash %>

<% content_box("#{@my_badge.account.nickname} stands for", :class => 'basicborder', :id => 'instructions') do %>
  <% if true %>
	<ul>
    <li>Organization: <%= @my_badge.badge.organization.name -%></li>
    <li>Segment: <%= @my_badge.badge.segment.name -%></li>
	</ul>
  <% end %>
  <% if false %>
	<p>
	  <%= @my_badge.badge.description %>
	</p>
	<h2><%= @my_badge.badge.organization.statement %></h2>
	 <% end %>
<% end %>

<% if true %>
<div id="action-call" class="box-foot">
  <%= link_to(image_tag('polish/get_a_badge.png', :alt => 'Get A Badge'), badge_badge_customize_path(@my_badge.badge.id)) %>
</div>
<% end %>
<span class="clear"></span>
<% content_box(@my_badge.badge.organization.statement, :class => 'basicborder') do %>
  <%= @my_badge.badge.description %>
<% end %>

<% grey_fade(:id => "badge-extras" ) do -%>
  <h2>About <%= @my_badge.badge.organization.name %> & the <%= @my_badge.badge.segment.name %></h2>
	<div id="mission">
		<%= textilize(@my_badge.badge.organization.description) %>
	</div>
	<div id="actions">
	  <h3><%= link_to('Go to Gift of Life Website', @my_badge.badge.organization.url ) %></h3>
	  <h3><%= link_to('Go to Gift of Life Blog', @my_badge.badge.organization.blog_url ) %></h3>
	  <%= image_tag(@my_badge.badge.organization.logo(:medium), :class => "avatar") %>
	</div>
<% end %>


