<h1>Get This Badge </h1>

<%= error_messages_for :my_badge %>

<p><%= @badge.name  -%> </p>


<% form_for :my_badge, 
	:url  => {:action => "create", :organization => @organization, :segment => @segment, :badge => @badge || nil }, 
	:method => :post  do |f| %>


<% if !@badge.access_codes.empty? and  !@badge.authorized?(current_account ) %>
  <p>
    <label>Please enter your access code:</label>
    <%= f.text_field :access_code %>
  </p>
<% end %>
  
  <p>
    <%= submit_tag "Give Me My Badge" %>
  </p>

<% end %>

<% if !@badge.required_donation.nil?  and !@badge.authorized?(current_account ) %>

<% @donation = Donation.new(:amount => @badge.required_donation.value ) %>
 <%= link_to 'donate', :controller => "donations", :action => "new", 
		  :badge => @badge, 
		  :segment => @segment.site_name, 
		  :organization => @badge.organization.site_name  -%>


<% end %>
