<h1>Get This Badge </h1>

<%= error_messages_for :my_badge %>

<p><%= @badge.name  -%> </p>


<% form_for :my_badge, 
	:url  => {:action => "create", :badge => @badge, :segment => @segment }, 
	:method => :post  do |f| %>


<% if !@badge.access_codes.empty? and  !@badge.authorized?(current_account ) %>
  <p>
    <label>Please enter your access code:</label>
    <%= f.text_field :access_code %>
  </p>
<% end %>
  
  <p>
    <%= submit_tag "Give Me My Badge" %>
  </p>

<% end %>

<% if !@badge.required_donation.nil?  and !@badge.authorized?(current_account ) %>

<% @donation = Donation.new(:amount => @badge.required_donation.value ) %>

<% form_for :donation, @donation, 
	:url  => {:controller => "donations", :action => "create", 
		:badge => @badge, :segment => @segment }, 
	:method => :post  do |f| %>

  <p>
    <label>Donate to the <b><%= @badge.organization.name -%></b> $</label>
    <%= f.text_field :amount, :size => 6 -%> 
  <p>

    <%= submit_tag "Donate" %>
  </p>

<% end %>


<% end %>
