<div>
<% content_box( "#{current_account.nickname}'s #{@badge.name} ", :class => "shadow" ) do -%>

    <div id="badge">
      <%= render :partial => "shared/current_view", :locals => {:my_badge => @my_badge } -%>
    </div>

    <div>
    <% content_box( "actions", :class => "shadow" ) do -%>
      <ul>
       <li><%= link_to 'customize', :controller => 'customize', :action => 'index', :id => @my_badge  -%></li>
       <li><%= link_to 'share', :controller => 'share', :action => 'index', :id => @my_badge  -%></li>
      </ul>
    <% end %>
    </div>

<% content_box( "statistics", :class => "shadow" ) do -%>
  <table>
   <tr>
     <th>Name</th>
     <th>Hits</th>
     <th>Unique Hits</th>
   </tr>
  <% @statistics.each do |statistic| %>
   <tr>
    <td><%= statistic.attributes['name'] -%></td>
    <td><%= statistic.attributes['stat_summary'].total_hits -%></td> 
    <td><%= statistic.attributes['stat_summary'].total_uniques -%></td> 
   </tr>
  <% end %>
 </table>
<% end %>
<% end %>

</div>

<div>
<% content_box( "#{@my_badge.badge.organization.name}", :class => "shadow" ) do -%>

<% content_box( "information", :class => "shadow" ) do -%>
<%= render :partial =>  'organizations/information',
	   :locals => { :organization => @my_badge.badge.organization } %>
<% end %>

<% content_box( "statistics", :class => "shadow" ) do -%>
<%= render :partial =>  'organizations/statistics',
	   :locals => { :organization => @my_badge.badge.organization } %>
<% end %>

<% content_box( "top donors", :class => "shadow" ) do -%>
<%= render :partial =>  'organizations/top_donors',
	   :locals => { :organization => @my_badge.badge.organization } %>
<% end %>

<% end %>
</div>


<div>
<% content_box( "#{@my_badge.badge.name}", :class => "shadow" ) do -%>
  <% content_box( "information", :class => "shadow" ) do -%>
    <%= render :partial =>  'badges/information', :locals => { :badge => @my_badge.badge} %>
  <% end %>

  <% content_box( "statistics", :class => "shadow" ) do -%>
    <%= render :partial =>  'badges/statistics', :locals => { :badge => @my_badge.badge} %>
  <% end %>

<% end %>
</div>
