<% content_box(@badge.name, :class => 'shadow', :id => 'preview') do %>
	<div id="badge-actions">
		<ul class="navigation">
	    <li>
	    	<%= link_to image_tag('icons/navigation/get_badge.png', :alt => "Get Badge") , :controller => 'customize', :action => 'index', :badge_id => @badge.id %>
    	</li>
		</ul>
		<span class="clear"></span>
	</div>

	<div id="badge">
		<%= image_tag(@badge.source_path, :alt => 'Badge Preview') %>
	</div>
	
	<div id="badge-functions">
		<ul class="navigation">
	    <li class="back"><span><%= link_to 'back to badges', badges_path %></span></li>
		</ul>
		<span class="clear"></span>
	</div>
<% end %>

<% content_box("badge details", :class => 'basicborder', :id => 'instructions') do %>
	<ul>
    <li>Organization: <%= @badge.organization.name -%></li>
    <li>Segment: <%= @badge.segment.name -%></li>
	</ul>
<% end %>

<% content_box("about the #{@badge.name}", :class => 'basicborder', :id => 'description') do %>
	<p>
		<%= @badge.description %>
	</p>
<% end %>

<% grey_fade(:id => "badge-extras" ) do -%>
	<div id="leaderboard" class="left">
		<h2>leaderboard</h2>
	</div>
	<div id="sponsors" class="right">
		<h2>sponsors</h2>
	</div>
<% end %>
