<h1>Badges Show </h1>

<p>
 <%= @badge.organization.name -%> 
</p>

<p>
 <%= @badge.segment.name -%> 
</p>

<p>
 <%= image_tag(@badge.example_path)-%>
</p>

<p>
<%= link_to 'give me this badge' , :controller => 'customize', :action => 'index', :badge_id => @badge -%>
</p>

<p>
<%= link_to 'see all badges', badges_path %>
</p>
