<% @sub_layout = 'standard' %>

<% content_for :top_left do %>
  <h1><%= @badge.name %></h1>
	<%= render :partial => 'shared/badge_preview', :locals => {:badge => @badge} %>
<% end %>

<% content_for :top_right do %>
	<ul>
    <li>Organization: <%= @badge.organization.name -%></li>
    <li>Segment: <%= @badge.segment.name -%></li>
	</ul>
<% end %>

<% content_for :supplementary do %>
  <div id="action-call" class="box-foot">
    <%= link_to(image_tag('polish/get_a_badge.png', :alt => 'Get A Badge'), badge_badge_customize_path(@badge)) %>
  </div>
<% end %>

<% content_for :tertiary do %>
<span class="clear"></span>
  <% content_box(:box_class => 'basicborder') do %>
    <h2><%= @badge.organization.statement %></h2>
    <%= @badge.description %>
  <% end %>

  <% grey_fade(:id => "badge-extras" ) do -%>
    <h2>About <%= @badge.organization.name %> & the <%= @badge.segment.name %></h2>
  	<div id="mission">
  		<%= textilize(@badge.organization.description) %>
  	</div>
  	<div id="actions">
  	  <h3><%= link_to('Go to Gift of Life Website', @badge.organization.url, :popup => true ) %></h3>
  	  <h3><%= link_to('Go to Gift of Life Blog', @badge.organization.blog_url, :popup => true ) %></h3>
  	  <%= image_tag(@badge.organization.logo(:medium), :class => "avatar") %>
  	</div>
  <% end %>
<% end %>