<h1>Editing requirement</h1>

<%= error_messages_for :requirement %>

<% form_for(@requirement, :url => badge_requirement_path(@badge, @requirement), :method => :put  ) do |f| %>
  <%= render :partial => 'fields', :locals => {:f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', badge_requirement_path(@badge, @requirement ) %> |
<%= link_to 'Back', badge_requirement_path(@badge, @requirement) %>
