<h1>Our Causes</h1>
<ul>
<li><%= @segment.name -%></li>
<li><%= @segment.keyword -%></li>
<li><%= @segment.description -%></li>
</ul>

<p>

</p>


<% content_for :sidebar do %>
	<ul id="position">
    <li class="check icon">&nbsp;</li>
    <li class="dollar-off icon">&nbsp;</li>
    <li class="person-off icon">&nbsp;</li>
	</ul>
	<span>Select Your Causes or Click One to Learn More</span>
	<div id='causes_panel'>
		<%= render :partial => 'worldreach/shared/causes', :locals => { :segment => @segments, :current_segment => @segment.id } %>
	</div>
	<%= link_to image_tag('worldreach/select_amounts.png', :alt => 'Select Donation Amounts'), new_worldreach_order_path %>
<% end %>
