<h1> Worldreach Causes</h1>

<h1><%= @organization.name -%></h1>

<ul>
<li><%= @segment.name -%></li>
<li><%= @segment.keyword -%></li>
<li><%= @segment.description -%></li>
</ul>

<p>
<%= link_to 'return to all causes', worldreach_segments_path -%>
</p>
