<h1>Listing segments</h1>

<h1><%= @organization.name -%></h1>
<table>
  <tr>
   <th>Name</th>
   <th>Site Name</th>
   <th>Keyword</th>
  </tr>

<% for segment in @segments %>
  <tr>
    <td><%= segment.name %></td>
    <td><%= segment.site_name %></td>
    <td><%= segment.keyword %></td>
    <td><%= link_to 'Show', orgadmin_organization_segment_path(@organization, segment) %></td>
    <td><%= link_to 'Edit', edit_orgadmin_organization_segment_path(@organization, segment) %></td>
    <td><%= link_to 'Destroy', orgadmin_organization_segment_path(@organization, segment ), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New segment', new_orgadmin_organization_segment_path(@organization) %>
