<div id="badge-actions">
	<ul class="navigation">
		<% if !is_location?(:controller => 'customize') -%>
    	<li><%= customize_link(badge) %></li>
			<% if !is_location?(:action => 'show') %>
  		<li><%= link_to(image_tag('icons/navigation/view_badge.png', :alt => "View Badge"), get_badge_path(badge)) %></li>
	  	<% end %>
  	<% end -%>
  	<% if is_location?(:controller => 'customize') -%>
  	<li>
  		<%= save_link(badge) %>
		</li>
		<li><%= link_to_remote image_tag('icons/navigation/reset_badge.png', :alt => 'Reset Badge'), :url => url_for(:controller => '/customize', :action => 'reset', :id => badge )   %></li>
		<% end -%>
	</ul>
</div>

<div id="badge" class="min-height">
	<% if !is_location?(:controller => 'customize') and !is_location?(:controller => 'my_badges', :action => 'new') -%>
		<%= link_to(image_tag(badge.source_path, :alt => 'Badge Preview'), get_badge_path(badge)) %>
	<% else -%>
		<%= image_tag("#{ADISERVER}/adis/#{badge.adi_id}.gif?&draft=true&rand=#{rand(100).to_s}", :alt => 'Badge Preview') %>
	<% end -%>
</div>

<% if badge.class.to_s == 'MyBadge' and !badge.new_record? -%>
	<%= render :partial => 'user/my_badges/navigation' , :locals => {:my_badge => badge} -%>
<% elsif is_location?(:controller => 'badges', :action => 'show') %>
	<%= render :partial => 'badges/navigation' , :locals => {:badge => badge} -%>
<% end -%>