<% content_box("filter badges", :class => 'basic', :id => 'filter') do -%>
	<%= form_remote_tag :url => { :controller => 'badges', :action => 'search' } %>
    <% if in_my_badges %>
   <%= hidden_field_tag  'filter_by_account', 'yes' %>
    <% end %>

	<dl>
		<dt><label for="search_term">keyword</label></dt>
			<dd><%=  text_field  'search' , 'term', :size => 20 -%></dd>
	</dl>
	<dl>
		<dt><label for="search_organization">organization</label></dt>
			<dd>
<%= select 'search', 'organization', Organization.find(:all, :order => 'name').collect {|o| [o.name, o.id] },{:include_blank => true }  %>
 <%= observe_field 'search_organization', :url => {:controller => 'badges', :action => 'update_causes' }, :with => 'search_organization' %>
</dd>
	</dl>
	<dl>
		<dt><label for="search_segment">cause</label></dt>
			<dd id="cause-select"><%= select 'search', 'segment', Segment.find(:all, :order => 'name').collect {|s| [s.name, s.id] }, {:include_blank => true}  %>
 <%= observe_field 'search_segment', :url => {:controller => 'badges', :action => 'update_badges' }, :with => 'search_segment' %>
</dd>
	</dl>
	<%= submit_tag 'search' %>
	</form >
<% end -%>
