<% content_box("filter badges", :class => 'basic', :id => 'filter') do -%>
	<%= form_remote_tag :url => { :controller => "#{ (in_my_badges) ? 'user/my_badges' : 'badges' }", :action => 'search' } %>
    <% if in_my_badges %>
   <%= hidden_field_tag  'filter_by_account', 'yes' %>
    <% end %>

	<dl>
		<dt><label for="search_term">keyword</label></dt>
			<dd><%=  text_field  'search' , 'term', :size => 20 -%></dd>
	</dl>
	<dl>
		<dt><label for="search_organization">organization</label></dt>
			<dd>
<%= select 'search', 'organization', Organization.find(:all, :order => 'name').collect {|o| [o.name, o.id] },{:prompt => 'Select an Organization' }  %>
 <%= observe_field 'search_organization', :url => {:controller => "#{ (in_my_badges) ? 'user/my_badges' : 'badges' }", :action => 'update_causes' }, :with => 'search_organization' %>
</dd>
	</dl>
	<dl>
	<dd id="cause-select"> </dd>
	</dl>
	<%= submit_tag 'search' %>
	</form >
<% end -%>
