<ul class="stats">
  <li>Total Donations: <span>$<%= System.total_donations -%></span></li>
  <li>No. Donations: <span><%= System.total_number_of_donations -%></span></li>
  <li>No. Badges: <span><%= System.total_number_of_badges -%></span></li>
  <li>No. Users: <span><%= System.total_number_of_accounts -%></span></li>
  <li>No. User Badges: <span><%= System.total_number_of_user_badges -%></span></li>
</ul>
