<ul class="stats">
  <li>Total Donations: $<%= System.total_donations -%> </li>
  <li>No. Donations: <%= System.total_number_of_donations -%> </li>
  <li>No. Badges: <%= System.total_number_of_badges -%> </li>
  <li>No. Users: <%= System.total_number_of_accounts -%> </li>
  <li>No. User Badges: <%= System.total_number_of_user_badges -%> </li>
</ul>
