<ul class="stats">
  <li>Donations: <span>$<%= System.total_donations -%></span></li>
  <li>No. Donations: <span><%= System.total_number_of_donations -%></span></li>
  <li>Badges: <span><%= System.total_number_of_badges -%></span></li>
  <li>Users: <span><%= System.total_number_of_accounts -%></span></li>
  <li>User Badges: <span><%= System.total_number_of_user_badges -%></span></li>
</ul>
