<h1>Editing campaign</h1>

<%= error_messages_for :campaign %>

<% form_for(@campaign, :url => admin_organization_campaign_path(@organization, @campaign), :method => :put ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', admin_organization_campaign_path(@organization, @campaign) %>
| <%= link_to 'Back', admin_organization_campaigns_path(@organization) %>
