<h2>Segement -  Show</h2>

<ul>
<% @segment.organization.badges.each do |badge| %>
<li>
<%= badge.name -%> 

<%= link_to 'view this badge', badge -%> 
| 
<%= link_to 'I want this badge  this badge', 
	:controller => 'my_badges', 
	:action =>  'new', 
	:badge_id =>  badge.id -%> 

</li>
<% end %>
</ul>

<% if false %>
<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
<% end %>
