<h1>Editing sponsor</h1>

<%= error_messages_for :sponsor %>

<% form_for(@sponsor) do |f| %>
 <ul>
  <%= render :partial =>  'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', @sponsor %> | <%= link_to 'Back', sponsors_path %>
