<%= error_messages_for :local_user -%>

<% form_for :account, :url => worldreach_accounts_path, :html => { :id => "register-form" } do |f| -%>
	<dl class="input">
		<dt><label for="account_login">Username:</label></dt>
			<dd><%= f.text_field :login %></dd>

		<dt><label for="account_email">Email:</label></dt>
			<dd><%= f.text_field :email %></dd>

		<dt><label for="account_password">Password:</label></dt>
			<dd><%= f.password_field :password %></dd>
		<dt><label for="account_password_confirmation">Confirm Password:</label></dt>
			<dd><%= f.password_field :password_confirmation %></dd>
	</dl>
	<dl>
		<dd><%= f.submit 'Register' %></dd>
	</dl>
<span class="clear"></span>
<% end -%>

