<h1>Your Reciept </h1>

<p>
Donation to: <%= @organization.name -%>
<p/>

<p>
<ol>
<% @order.donations.each do |donation| %>
<li> 
<%= donation.segment.name -%>  : <%= number_to_currency(donation.amount) -%>
 </li>
<% end %>
<li> Total: <%= number_to_currency(@order.amount) -%> </li>

</ol>
</p>

<% @my_badge = session[:my_badge] %>

<% if !@my_badge.nil? %>
<p>
<%= link_to  "learn how your badge can be sponsored " ,  user_my_badge_path(@my_badge) %>
</p>
<% end %>
