<h1>New Donation</h1>

<%= error_messages_for :donation %>

<p>
Organization: <b><%= @organization.name -%></b>
</p>

<p>
Segment:<b><%= @segment.name -%></b>
</p>

<p>
Keyword:<b><%= @segment.keyword -%></b>
</p>


<% form_for :donation, @donation, 
	   :url => {	:controller => 'donations', 
			:action  => 'create', 
			:segment => @segment,
			:organization => @organization,
			:badge => @badge } do |f| %>

  <p><lable for="donation_amount" >Amount:</label>
   <%= f.text_field :amount -%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
