<h1>upload a logo for organization:  '<%= @organization.name -%>'</h1>

<%= error_messages_for :organizationslogo %>

<% form_for(@organizationslogo, :url => admin_organization_organizationslogo_path(@organization, @organizationslogo), :method => :post , :html => {:multipart => true} ) do |f| %>

  <li>
    <%= f.file_field :uploaded_data %>
  </li>

  <li>
    <%= f.submit "upload logo" %>
  </li>
 </ul>
<% end %>

<p>
<%= link_to 'back to organizations list', admin_organizations_path %>
</p>
