<li>
<label>Name:</label> <%= f.text_field :name -%>
</li>

<li>
<label>Site Name:</label> <%= f.text_field :site_name -%>
</li>

<li>
<label>Logo:</label> <%= f.text_field :logo -%>
</li>

<li>
<label>Address Line One:</label> <%= f.text_field :address1 -%>
</li>

<li>
<label>Address Line Two:</label> <%= f.text_field :address2 -%>
</li>

<li>
<label>Address Line Three:</label> <%= f.text_field :address3 -%>
</li>

<li>
<label>City:</label> <%= f.text_field :city -%>
</li>

<li><lable for="organization_state" >State:</label>
  <%= select 'organization', 'state', select_state_for_sponsor -%>
</li>

<li>
<label>Zip:</label> <%= f.text_field :zip -%>
</li>

<li><lable for="organization_country" >Country:</label>
<%= f.country_select :country, ['United States', 'Canada' ] -%>
</li>

<li>
<label>Pjone:</label> <%= f.text_field :phone-%>
</li>

<li>
<label>Fax:</label> <%= f.text_field :fax -%>
</li>

<li>
<label>Email:</label> <%= f.text_field :email -%>
</li>

<li>
<label>Url:</label> <%= f.text_field :url -%>
</li>

<li>
<label>Statement:</label> <%= f.text_area :statement -%>
</li>
