<h1> access codes for <%= @badge.organization.name -%> <%= @badge.name -%></h1>

<table>

  <tr>
  </tr>

<% for access_code in @access_codes %>
  <tr>
    <td><%= link_to 'Show', admin_organization_badge_access_codes_path(@badge.organization, @badge) %></td>
    <td><%= link_to 'Edit', edit_admin_organization_badge_access_code_path(@badge.organization, @badge, access_code) %></td>
    <td><%= link_to 'Destroy', admin_access_code_path(access_code), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to "create a new access code for '#{@badge.organization.name}'  '#{@badge.name}' badge" , new_admin_organization_badge_access_code_path(@badge.organization) %>
</p>
