<h1>New sponsorship</h1>

<%= error_messages_for :sponsorship %>

<% form_for(@sponsorship) do |f| %>

<%= render :partial => 'sponsorable_select', :locals => {:f => f, :sponsorable => @sponsorable } %>
  <ul>
    <%= render :partial => 'fields', :locals => {:f => f } -%>
    <%= f.submit "Create" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Back', sponsorships_path %>
