<h1>Editing Organization</h1>

<%= error_messages_for :organization %>

<% form_for(@organization, :url => admin_organization_path( @organization), :method => :put ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', admin_organization_path(@organization) %>
| <%= link_to 'Back', admin_organization_path(@organization) %>
