<div id="about" class="organization">
  <h2>Organization Info</h2>
  <ul>
      <li>Name: <%= @organization.name %></li>
      <li>Statement: <%= @organization.statement %></li>
      <li>Description: 
        <p>
          <%= textilize @organization.description %>
        </p>
      </li>
  </ul>
</div>

<div id="contact" class="organization">
  <h2>Contact Details</h2>
  <ul>
      <li>Email: <%= @organization.email %></li>
      <li>Url: <%= @organization.url %></li>
      <li>Phone: <%= @organization.phone %></li>
      <li>Fax: <%= @organization.fax %></li>
  </ul>
</div>


<div id="address" class="organization">
  <h2>Address</h2>
  <ul>
      <li>Address Line 1: <%= @organization.address1 %></li>
      <li>Address Line 2: <%= @organization.address2 %></li>
      <li>Address Line 3: <%= @organization.address3 %></li>
      <li>City: <%= @organization.city %></li>
      <li>State: <%= @organization.state %></li>
      <li>Zip: <%= @organization.zip %></li>
  </ul>
</div>

<div id="meta" class="organization">
  <h2>Meta</h2>
  <ul>
      <li>Created on: <%= @organization.created_on %></li>
      <li>Updated on: <%= @organization.updated_on %></li>
      <li>Keyword: <%= @organization.keyword %></li>
      <li>Sitename: <%= @organization.site_name %></li>
      <li>Tag List: <%= @organization.tag_list %></li>
  </ul>
</div>

<div id="segments" class="organization">
  <h2>Segments</h2>
  <ul>
    <% for segment in @organization.segments %>
      <li><%= link_to segment.name %></li>
    <% end %>
  </ul>
</div>

<div id="badges">
  <h2>Badges</h2>
  <ul>
    <% for badge in @organization.badges %>
      <li><%= link_to badge.name %></li>
    <% end %>
  </ul>
</div>
