<h1>Editing configuration</h1>

<%= error_messages_for :configuration %>

<% form_for(@configuration, :url => admin_configuration_path(@configuration), :method => :post ) do |f| %>
  <ul>
   <%= render :partial => 'fields' , :locals =>  {:f => f } -%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', admin_configuration_path(@configuration) %> | <%= link_to 'Back', admin_configurations_path %>
