<h1>Attaching the Standfor.us badge to your email signature using Microsoft Outlook Express.</h1>
<p>Follow these steps to add your Standfor.us badge to your email signature using Microsoft Outlook Express: </p>
 <ol>
   <li> <%= link_to 'Click here to download email signature', "#{ADISERVER}/shares/#{@share.id}/external_spec?adi_id=#{@my_badge.adi_id}" -%>  to download your signtaure file named  <b>my-signature.html</b>.</li>
   <li> Open your Microsoft Outlook Express application.</li>
   <li> Choose 'Options' from the 'Tools' menu.</li>
   <li> A dialog box will open, select the 'Signatures' tab.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-4.jpg') -%></p>
   <li> Within the section labeled 'Signatures', click the labeled 'New'.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-5.jpg') -%></p>
   <li> Within the 'Edit Signature' section, click the radio button labeled 'File'.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-6.jpg') -%></p>
   <li> Click the button labeled 'Browse' and find and select the "my-signature.html" file you saved on step 1. 
    <p><%= image_tag('/images/tutorial/outlook-express-step-7.jpg') -%></p>
    <p>If you'd like  the signature automatically appear on every email you send from Microsoft Outlook Express, check the checkbox labeled 'Add signatures to all outgoing messages' </p>
   </li>
    <li> Click 'OK' button.</li>
 </ol>
