<h1>Attaching the Standfor.us badge to your email signature using Yahoo! Mail (classic version)</h1>

 <ol>
  <li>Log in to your Yahoo! email account.</li>
  <li>In the upper right-hand corner of the page, locate and click the 'options' link.</li>
  <li>Click the 'signature' link in the menu found on the left side of the page.</li>
  <li>Make sure that you are in 'Rich Text' mode.  (When you are in 'Rich Text' mode, the link on the right will say 'Plain Text').</li>
  <p>
    <%= image_tag('/images/tutorial/yahoo-classic-step-3.jpg' )%>
  </p>
  </li>

  <li> Highlight  (CTRL+A) and Copy (CTRL+C) the code below: <br /> 
   <textarea rows=5 cols=60 ><a href="<%=ADISERVER-%>/badges/<%=@my_badge.adi_id-%>.html"><img border="0" src="<%=ADISERVER-%>/badges/<%=@my_badge.adi_id-%>.gif"></a></textarea>
    <p>And Paste  (CTRL + V) into the signature input box.</p>
  </li>

  <p>
    <%= image_tag('/images/tutorial/yahoo-classic-step-4.jpg' )%>
  </p>

  <li>Make sure that the radio button labeled 'Show a signature on all outgoing messages' is checked, and Click save changes.</li>
  <p>
    <%= image_tag('/images/tutorial/yahoo-classic-step-5.jpg' )%>
  </p>

  <li>That's it. All your email messages will contain your email signature.</li>
  <p>
    <%= image_tag('/images/tutorial/yahoo-step-6.jpg' )%>
  </p>

</ol>
