<h2>Microsoft Outlook Express</h2>
  <p>Follow these steps to add your Standfor.us badge to your email signature using Microsoft Outlook Express: </p>
   <ol>
   <li> In your browser, click 'download email signature'.  Doing so will save a small text file containing your signature to your desktop.  The name of the file will be 'standfor.signature.html'.</li>
     <p><%= image_tag('/images/tutorial/shared-1.jpg') -%></p>
   <li> Open your Microsoft Outlook Express application.</li>
   <li> Choose 'Options' from the 'Tools' menu.</li>
   <li> A dialog box will open, select the 'Signatures' tab.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-4.jpg') -%></p>
   <li> Within the section labeled 'Signatures', click the labeled 'New'.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-5.jpg') -%></p>
   <li> Within the 'Edit Signature' section, click the radio button labeled 'File'.</li>
    <p><%= image_tag('/images/tutorial/outlook-express-step-6.jpg') -%></p>
   <li> Click the button labeled 'Browse' and find and select the "my_signature.html" file you saved on step 1. 
    <p><%= image_tag('/images/tutorial/outlook-express-step-7.jpg') -%></p>
    <p>If you'd like  the signature automatically appear on every email you send from Microsoft Outlook Express, check the checkbox labeled 'Add signatures to all outgoing messages' </p>
   </li>
    <li> Click 'OK' button.</li>
 </ol>
