<h1>How to embed your badge in your email.</h1>

<p> You can include your badge in your email signature by properly installing the 'embed' HTML code snippet provided here.  The process for installing the HTML code differs amoung the popular email software available.  Here you'll find instructions for some of the more popular email programs. </p>

<%= render :partial => 'outlook_express_embed_instructions' -%>

<%= render :partial => 'outlook_0703_embed_instructions' -%>

<%= render :partial => 'mozilla_embed_instructions' -%>

<%= render :partial => 'site/yahoo_classic_embed_instructions' -%>

<%= render :partial => 'site/yahoo_embed_instructions' -%>

<%= render :partial => 'site/yahoo_classic_embed_instructions' -%>

<%= render :partial => 'site/gmail_embed_instructions' -%>

<%= render :partial => 'site/apple_embed_instructions' -%>

