<% radial_box(:id => 'get-badge') do %>
	<h2><%= image_tag("/text/basicborder_header/get a badge.png", :alt => 'Get a Badge') %></h2>
	<p>A Standfor.us Badge raises money and awareness for your favorite causes. To get started, click 'badges' and and stand up and be counted! </p>
<% end %>

<% radial_box(:id => 'customize-badge') do %>
	<h2><%= image_tag("/text/basicborder_header/customize it.png", :alt => 'Customize It') %></h2>
	<p>A badge isn't only about a cause, it's also about <i>you</i>. Customizing your badge shows people you are a real person with a unique personality and makes them interested.</p>
<% end %>

<% radial_box(:id => 'share-badge') do %>
	<h2><%= image_tag("/text/basicborder_header/share it.png", :alt => 'Share It') %></h2>
	<p> Sharing your badge on your email-signature and social networking sites allow other people see your badge, learn out your cause, and hopefully, get involved.
	</p>
<% end %>

<% radial_box(:id => 'make-difference') do %>
	<h2><%= image_tag("/text/basicborder_header/make a difference.png", :alt => 'Make a Difference') %></h2>
	<p>Your Standfor.us badge is a tool to raise both money and awareness about your favorite cause. Today,  these are the things that make a difference. </p>
<% end %>

<div id="mission-statement">
	<h2><%= image_tag("/text/basicborder_header/welcome to standfor%2eus.png", :alt => 'Welcome to Standfor.Us') %></h2>
	<p> Our mission is to be the worlds most effective internet fundraising and cause awareness platform. We strive to create  technology that trully meshes with the way people share information.  We seek to empower people with tools that make them more effective advocates for their causes.  
   </p>
</div>

<% grey_fade(:id => "featured-badges" ) do -%>
	<h2><%= image_tag("/text/basicborder_header/featured badges.png", :alt => 'Featured Badges') %></h2>
    <%= render :partial => 'featured' -%>
<% end %>

<div id="leaderboard" class="leaders">
	<h2><%= image_tag("/text/basicborder_header/leaderboard.png", :alt => 'Leaderboard') %></h2>
   <p>Here are our all-time donation leaders: </p>
   <%= render :partial => 'money_donated' %>
</div>
