<h1>Editing segment</h1>

<%= error_messages_for :segment %>

<% form_for(@segment, :url => admin_organization_segment_path(@organization, @segment), :method => :put ) do |f| %>
 <ul>
  <%= render :partial => 'fields', :locals => {:f => f } -%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', admin_organization_segment_path(@organization, @segment) %>
| <%= link_to 'Back', admin_organization_segments_path(@organization) %>
