<li>
<label>Primary Color:</label> <%= f.text_field :color_primary -%>
</li>

<li>
<label>Secondary Color:</label> <%= f.text_field :color_secondary -%>
</li>

<li>
<label>Tertiery Color:</label> <%= f.text_field :color_third -%>
</li>

<li>
<label>Standfor Color 1:</label> <%= f.text_field :color_standfor_1 -%>
</li>

<li>
<label>Standfor Color 2:</label> <%= f.text_field :color_standfor_2 -%>
</li>

<li>
<label>Color Header 2:</label> <%= f.text_field :color_header_1 -%>
</li>

<li>
<label>Color Header  2:</label> <%= f.text_field :color_header_2 -%>
</li>

<li>
<label>Color Button 1:</label> <%= f.text_field :color_header_1 -%>
</li>

<li>
<label>Color Button 2:</label> <%= f.text_field :color_header_2 -%>
</li>

<li>
<label>Color Fill 1:</label> <%= f.text_field :color_fill_1 -%>
</li>

<li>
<label>Color Fill 2:</label> <%= f.text_field :color_fill_2 -%>
</li>
