<h1>Editing badge</h1>

<%= error_messages_for :badge %>

<% form_for(@badge, :url => admin_organization_badge_path(@organization, @badge), :method => :put ) do |f| %>
  <ul>
  <%= render :partial => 'fields', :locals => {:f => f }-%>
  <li>
    <%= f.submit "Update" %>
  </li>
 </ul>
<% end %>

<%= link_to 'Show', @badge %> | <%= link_to 'Back', badges_path %>
