<% content_box('Settings', :id => 'settings') do -%>

<%= error_messages_for :user %>
<% form_for :account, current_account, { :url => {:action => :save_registration}, :html => {:method => :put} } do |f| -%>
	<ul>
		<li>
			<label for="nickname">Nickname</label>
			<%= f.text_field :nickname %>
		</li>
		<li>
			<label for="fullname">Fullname</label>
			<%= f.text_field :fullname %>
		</li>
		<li>
			<label for="email">Primary Email</label>
			<%= f.text_field :primary_email %>
		</li>
	</ul>
	
  <%= submit_tag 'Save', :disable_with => "Saving&hellip;" %>
  <span class="clear"><span>
  <%= link_to 'logout', logout_url %>
  <%= link_to "destroy account", account_path(@account), :method => :delete %>

<% end -%>

<% end -%>
