<h1>Register</h1>

<%= error_messages_for :account -%>
<% form_for :account, :url => accounts_path do |f| -%>

<p><label for="account_login">Login / Nickname</label><br/>
<%= f.text_field :login %></p>

<p><label for="account_email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="account_password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="account_password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p>
  <%= submit_tag 'Sign in', :disable_with => "Signing in&hellip;" %>
  <%= link_to 'Login', login_url %>
</p>
<% end -%>
