<% content_box(:external_id => 'register', :box_class => 'shadow') do -%>
  <h1>create a standfor:us account</h1>
	<%#= error_messages_for :account -%>
	<% form_for :account, :url => accounts_path, :html => { :id => "register-form" } do |f| -%>
	<fieldset class="input">

<% if false %>
		<dl>
			<dt><label for="account_login">Username:</label></dt>
				<dd><%= f.text_field :login %></dd>
		</dl>
<% end  %>

		<dl>
			<dt><label for="account_email">Email:</label></dt>
				<dd><%= f.text_field :email %></dd>
		</dl>
		<dl>
			<dt><label for="account_password">Password:</label></dt>
				<dd><%= f.password_field :password %></dd>
		</dl>
		<dl>
			<dt><label for="account_password_confirmation">Confirm Password:</label></dt>
				<dd><%= f.password_field :password_confirmation %></dd>
		</dl>

	</fieldset>
	<%= submit_tag 'Signup' %>

	<span class="clear"></span>
	<% end -%>
<% end -%>
