<% content_box("reset my password", :class => 'shadow', :id => 'forgot-password') do %>
  
  
  <% form_for :local_user, :url => change_password_path do |f| %>
      <input type="hidden" name="id" value ="<%= @account.reset_password_code -%>" >
      <fieldset class="input">
          <dl>
              <dt><label for="user_password" class="block">Password</label></dt>
              <dd><%= f.password_field :password, :size => 15, :class => 'text' %></dd>
  
              <dt><label for="user_password_confirmation" class="block">Confirm Password</label></dt>
              <dd><%= f.password_field :password_confirmation, :size => 15, :class => 'text' %></dd>
          </dl>
    		<%= f.submit 'reset your password', :disable_with => "resetting password&hellip;", :class => 'submit' %>
      </fieldset>
      <%= get_flash %>
      <h2>please enter a new password</h2>
      <p>After submitting the form you will be automatically logged in.</p>
  <% end %>
  <span class="clear"></span>
<% end %>
<% @context = "forgot" %>