<% content_for :heading do -%>
  <h1>reset my password</h1>
<span class="clear"></span>
<% end %>

<h2>please enter a new password</h2>

<% form_for :local_user, :url => change_password_path do |f| %>
   <% if !flash[:reset_errors].nil? %>
     <div id="reset-password-error-container">
     <ol>
       <% flash[:reset_errors].each do |error, message| %>
         <li> <%= message -%> </li>
       <% end %>
     </ol>
    </div>
  <% end %>
    <input type="hidden" name="id" value ="<%= @account.reset_password_code -%>" >
    <fieldset class="input">
        <dl>
            <dt><label for="user_password" class="block">Password</label></dt>
            <dd><%= f.password_field :password, :size => 15, :class => 'text' %></dd>

            <dt><label for="user_password_confirmation" class="block">Confirm Password</label></dt>
            <dd><%= f.password_field :password_confirmation, :size => 15, :class => 'text' %></dd>
        </dl>
  		<%= f.submit 'reset your password', :disable_with => "resetting password&hellip;", :class => 'submit' %>
    </fieldset>
<% end %>
