<h1>New order</h1>

<%= error_messages_for :order %>

<%= render :partial => 'total',  :locals => {:order => @order } -%>

<% form_for(@order) do |f| %>

  <%= render :partial => 'fields', :locals => { :f => f , :organization => @organization } -%>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back to Causes', worldreach_segments_path %>
