<h1>Credit Card Details</h1>

<div id="padding">
<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] -%>
  </div>
<% end %>

<div id="pie" >
<%= render :partial => 'pie' %>
</div>

<% form_for :creditcard, :url => worldreach_save_creditcard_path, :method => :post, :html => {:id => 'credit-card-details'}  do |f| %>
	<dl class="input">
		<dt><label for="creditcard_first_name">First Name:</label></dt>
			<dd><%= f.text_field :first_name , :size => 20 -%></dd>
	
		<dt><label for="creditcard_last_name">Last Name:</label></dt>
			<dd><%= f.text_field :last_name, :size => 20 -%></dd>
	
		<dt><label for="creditcard_type">Card Type:</label></dt>
			<dd><%= f.select :card_type, ["Visa", "Master Card", "Discover"] %></dd>
		<dt><label for="creditcard_number">Card Number:</label></dt>
			<dd><%= f.text_field :number -%></dd>
	</dl>
	
	<dl class="expiration">
		<dt><label for="creditcard_expiration_month_year">Expiration:</label></dt>
			<dd><%= select_month(Date.today)%><%= select_year(Date.today, :class => 'year')%></dd>
	</dl>
	
	<dl class="input verification">
  	<dt><label for="creditcard_verification_value">Verification:</label></dt>
  		<dd><%= f.text_field :verification_value, :size => 6 -%></dd>
	</dl>

	<dl class="submit">
	  <dd><%= f.submit 'Enter Card' -%></dd>
	</dl>
<% end %>	
</div>


<% content_for :sidebar do -%>
	<ul id="position">
    <li class="check icon">&nbsp;</li>
    <li class="dollar icon">&nbsp;</li>
    <li class="person icon">&nbsp;</li>
	</ul>
	<span>Enter your required personal information.</span>
	<div id='summary' class="box">
		<h3><%= image_tag("/text/worldreach_box_title/DONATION SUMMARY.png", :alt => 'Donation Summary') %></h3>
		<%= render :partial => 'summary', :locals => { :order => @order } %>
	</div>
	<div class="navi-button">
		<%= button(:image => 'worldreach/confirm_payment.png', :alt => 'Submit Credit Card Details', :form_id => 'credit-card-details', :type => 'submit') %>	
	</div>
<% end %>
