<h1>Your Receipt</h1>
<div id="padding">
	<ul class="order-summary">

	<li> Date: <%= @order.created_at.strftime("%B %d, %Y") -%> </li> 
	
	<% @order.donations.each do |donation| %>
	<li>
	<%= donation.segment.name -%> : <%= number_to_currency(donation.amount )  -%>
	</li>
	<% end %>
	<li> Total: <%= number_to_currency(@order.amount) -%> </li> 
	
	</ul>

  <p>
     <img src="<%=STANDFOR_ROOT-%>/worldreach/charts/pie/<%= @order.id -%>" >
  </p>
	
	<p>
	<%= link_to 'home', worldreach_home_path -%>
	</p>
</div>

